body{
	margin: none;
}
.logo,.logo img{
	float: left;
	width:5em;
	height: 5em;
	margin-left: 5%;
	padding-left: 10px;
	padding-top: 10px;
	overflow: hidden;
}

.header {
	float: left;
	margin-top: 5em;	
	width: 20%;
	margin-left: 35%;	
}


.header h2{
	margin-bottom: 0;
	padding-left: 8px;
	font-family: times;
	font-weight:100;
	font-size: 4em;
}

.header a,.header span{
	font-family: helvetica;
	font-weight: lighter;
	font-size: 1em;
	text-decoration: none;
}

.header span{
	padding-right: 4px;
}


.header_admin {
	float: left;
	margin-top: 5em;	
	width: 20%;
	margin-left: 35%;	
}

.header_admin h2{
	margin-bottom: 0;
	padding-left: 8px;
	font-family: times;
	font-weight:100;
	font-size: 2em;
}




.container{
	padding-top: 3em; 
	margin-left: 25%;
	padding-bottom: 80px;
	float: left;
}

.left{
	width:28%;
	float: left;
	font-size: 2em;
	border-right: 1px solid;
	padding-right: 8em;
	margin-right: 2em;
	font-size: 1.2em;
	font-weight: lighter;
}

.left label{
	margin-bottom: 25px;
}

.left input{
	border:none;
	border-bottom: 0.1px solid;
	padding-bottom: 10px;
	margin-bottom: 1em;
	font-size: 1.3em;
}

input[type="text"]:focus{
outline: none;
transition-delay: 0.1s;
border-bottom:3px solid #5AB0DB;
border-radius:5px;
}

input[type="text"]:hover{
border-bottom: 3px solid #999;
border-radius: 5px;
}

input[type="text"]:focus:hover{
outline: none;
transition-delay: 0.1s;
border-bottom:3px solid #5AB0DB;
border-radius:5px;

}    

input[type="password"]:focus{
outline: none;
transition-delay: 0.1s;
border-bottom:3px solid #5AB0DB;
border-radius:5px;
}

input[type="password"]:hover{
border-bottom: 3px solid #999;
border-radius: 5px;
}

input[type="password"]:focus:hover{
outline: none;
transition-delay: 0.1s;
border-bottom:3px solid #5AB0DB;
border-radius:5px;
}  

.checkmark{
	font-size: 14px;
	vertical-align: center;
}

.login_button {
  padding: 15px 40px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3B5998;
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px #999;
}

.login_button:hover {background-color: #3498DB}

.login_button:active {
  background-color: #3498DB;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.right{
	margin-top: 60px;
	margin-left: 5%;
	width: 40%;
	float: left;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover .fas:hover{
    opacity: 0.7;
}

.fa-facebook {
	float: left;
	width: 100%;
	height: auto;
  background: #3B5998;
  color: white;
}

.fa-whatsapp{
	width: 100%;
	height: auto;
	background: #2ECC71  ;
  color: white;
}

.social,.contact{
	font-size: 30px;
}

.fa.fa-facebook::before{
	float: left;
}

.fa.fa-whatsapp::before{
	float: left;
}

.footer span{
	width: 40%;
	margin-left: 40%;
	margin-top: 80px;
}




